@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.rmdp-input {
  width: 230px !important;
  height: 25px !important;
}

@media (max-width: 767px) {
  .rmdp-input {
    width: 120px !important; 
    height: 25px !important;
  }
}

@media (min-width: 768px) {
  .rmdp-input {
    width: 230px !important; 
    height: 25px !important;
  }
}
/* Base styles */
.PhoneInputInput {
  width: 100%;
  padding-top: 1rem;
  padding-right: 1rem;
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-right: 0;
  margin-bottom: 0;
  margin-left: 0;
  font-size: 1rem;
  display: block;
  background-color: white;
  border: 1px solid #e2e8f0;
  border-radius: 0.375rem;
  outline: none;
}

/* Placeholder styles */
.PhoneInputInput::placeholder {
  color: #a0aec0;
}

/* Focus styles */
.PhoneInputInput:focus {
  border-color: #000;
}
